@import '../../scss/base/colors';

.gutter {
    background: $secondary-color !important;

    &:hover {
        cursor: row-resize;
    }
}

.main-layout {
    display: flex;
    flex-direction: column;

    &__upper { 
        display: flex; 
        flex-direction: row; 
        height: 60vh;
    }

    &__lower {
        height: calc(40vh - 48px);
    }
}