@import '../../scss/base/colors';

.gutter {
    background: $secondary-color !important;

    &:hover {
        cursor: row-resize;
    }
}

.main-layout {
    position: relative;
    height: calc(100vh - 48px);
}