.expandable-input {
    display: block;
    border: 1px solid #d4d6d8;
    margin-bottom: 1rem;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
    
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #f1f2f3;
        border-bottom: 1px solid #d4d6d8;

        & > span {
            padding: 0.5rem;
        }
    }

    &__body {
        padding: 1rem;
    }
}