@import '../../scss/base/colors';
@import '../../scss//base/typography';

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem 1rem;
    color: $white-color;
    background: $primary-color;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
    z-index: 2;

    &__title {
        font-family: $roboto-slab;
        font-size: 1.3rem;  
    }

    &__group {
        display: flex;
        align-items: center;
    }

    &__item {
        text-decoration: none;
        color: inherit;
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 1rem;
        }

        i {
            vertical-align: middle;
        }
    }
}