@import '../../scss/base/colors';
@import '../../scss//base/typography';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    color: $white-color;
    background: $primary-color;

    &__title {
        display: flex;
        align-items: center;
        font-family: $roboto-slab;
        font-size: 1.3rem;
        margin-right: 1rem;     
    }

    &__group {
        display: flex;
        align-items: center;
    }

    &__link {
        text-decoration: none;
        color: inherit;
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 1rem;
        }

        i {
            vertical-align: middle;
        }
    }
}