@import 'base/normalize';
@import 'base/colors';
@import 'base/typography';
@import 'components/button';
@import 'components/forms';

body {
    font-family: $font-family !important;
    font-size: 16px;
    color: $primary-color;
    background: $white-color;
    transition: all 0.1s ease-in-out;
}

.gutter {
    background: $secondary-color;
}

.text-group {
    margin-bottom: 0.5rem;
}

pre {
    margin: 0;
}