@import 'base/normalize';
@import 'base/colors';
@import 'base/typography';
@import 'components/button';
@import 'components/forms';

body {
    font-family: $font-family !important;
    font-size: 16px;
    color: $primary-color;
    background: $white-color;
    transition: all 0.1s ease-in-out;
}

.gutter {
    background: $secondary-color;
}

.text-group {
    margin-bottom: 0.5rem;
}

pre {
    margin: 0;
}

.mr-1 {
    margin-right: 0.25rem;
}

.mr-2 {
    margin-right: 0.5rem;
}

.mr-3 {
    margin-right: 1rem;
}

.ml-1 {
    margin-left: 0.25rem;
}

.ml-2 {
    margin-left: 0.5rem;
}

.ml-3 {
    margin-left: 1rem;
}

.select {
    min-width: 100px;
    padding: 0.2rem;

    &--primary {
        background: #222629;
        color: white;
        border: 1px solid #222629;
        outline: none;
    }
}